.outer-container{
    
    width: 980px;
    height: 500px;
    border: none;
    border-radius: 10px;
    margin-left: 0rem;
    padding: 1rem;
    margin-top: 1.2rem;
    color: white;  
}
.carousel-item img{
    width: auto;
    height: 500px;
}
#head-content{
    font-size: 40px;
    /* font-family: "Jersey 10"; */
    font-weight: 400;
    font-style: normal;
    font-family: "bavro";
}
/* Responsiveness */
@media (max-width:830px){
    .outer-container{
        width: auto;
        padding-right: 1rem;
    }
}
@media (max-width: 576px){
    .outer-container{
        width: auto;
      }
}
@media (min-width:900px) and (max-width:1200px) {
  .outer-container{
    width: auto;
  }
}

/* animation */

.outer-container{
    animation: transIn 8s;
    
}

@keyframes transIn {
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0deg);
    } 
}